#titleAct {
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px
}
 
#titleAct > p {
    font-size: 40px;
}

img {
    height: 70px;
}

#formAct {
    text-align: center;
}

#listAct {
    padding-left: 50px;
}

.act-name {
    font-size: 45px;
}