body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Nunito';
    background-color:#f7f9fa;
}

nav {
    height: 40px;
    width: auto;
    background-color: #c3cfd9 !important;
    color: black !important;
    font-size: 20px;
}

footer {
    background-color: #c3cfd9;
}

.sosmed {
    height: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}

#pacil {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.form-inline p {
    padding-top: 10px;
    padding-left: 20px;
}

.form-inline a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

#homeNav {
    padding-right: 0px;
}

.page-footer {
    padding-top: 100px;
}

.page-footer div {
    text-align: center;
}

.footer-copyright {
    background-color: gray;
}

#dummy {
    font-size: 1px;
}