/* Home Page */

#jumbo1 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 4rem;
}

.container {
    display: flex;
}

#foto-saya {
    border-radius: 2%;
    height: 520px;
}

#hello {
    font-weight: bold;
    font-size: 55px;
}

#button-more {
    padding-bottom: 20px;
    float: right;
}

.sbe {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-size: 45px;
}

h3 {    
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 3px solid lightgrey;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 3px solid lightgrey;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    font-size: 40px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 16px;
}

h2, h6 {
    font-weight: 700;   
}

#inv {
    color: #f7f9fa;
    font-size: 20px;
}

/* Detail Page */

#titleDetail {
    text-align: center; 
    padding-top: 20px;
}

#titleDetail p {
    font-size: 60px;
}

#help, #user {
    height: 70px;
}

#user {
    margin-bottom: 20px;
}

#mainFAQ, #question {
    padding-left: 100px;
}

#jeda {
    height: 100px;
}

#accDetail {
    text-align: center;
    align-items: center;
}

.accordion {
  background-color: #c3cfd9;
  font-size: 30px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  border: none;
  outline: none !important;
  transition: 1s;
}

.up, .down {
    background-color: #c3cfd9;
    font-size: 30px;
    cursor: pointer;
    border: none;
    outline: none !important;
}

.active, .accordion:hover {
    background-color: #c0c0c0;
}

.isi {
    width: 50%;
    margin: auto;
    text-align: center;  
    height: 50px;
    background-color: #f7f9fa;
    display: none;
    padding: 10px 0;
}

/* Login Page */

#titleLogin {
    text-align: center; 
    padding-top: 20px;
    font-size: 50px;
}


label {
    font-size: 20px;
    padding-right: 10px;
}

#formLogin {
    text-align: center; 
    height: 250px; 
    margin-top: 50px;
}

#formReg {
    text-align: center; 
    height: 300px; 
}

#tableReg {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left;
}

