<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main/story1.css">
    <title>Old Page</title>
</head>

<body>
    <p class="fa">fadli aulawi</p>
    <p class="cs">computer science student</p>

    <hr>
    <img src="../../static/main/fadli.jpg" height="300" class="img">
    <hr>

    <div class="bio">
        <table align="center" class="tab-bio">
            <tr>
                <th>Nama</th>
                <td class="b">Fadli Aulawi Al Ghiffari</td>
            </tr>
            <tr>
                <th>NPM</th>
                <td class="b">1906285623</td>
            </tr>
            <tr>
                <th>Angkatan</th>
                <td class="b">Maung 2019</td>
            </tr>
            <tr>
                <th>Hobi</th>
                <td class="b">Listening to the Music, Swimming</td>
            </tr>
            <tr>
                <th>Kuliah</th>
                <td class="b">S1 Ilmu Komputer -- Fasilkom UI 2019</td>
            </tr>
            <tr>
                <th>Deskripsi</th>
                <td class="b">Hanya seorang manusia biasa </td>      
            </tr>
        </table>
    </div>
    
    <hr>

    <div class="edu">
        <table align="center">
            <tr>
                <td>2019 - ...</td>
                <td class="e">Universitas Indonesia</td>
            </tr>
            <tr>
                <td>2016 - 2019</td>
                <td class="e">MAN Insan Cendekia Serpong</td>
            </tr>
            <tr>
                <td>2013 - 2016</td>
                <td class="e">SMP IT Fithrah Insani</td>
            </tr>
        </table>
    </div>

    <hr>

    <div class="bottom-box">
        <table align="center" class="tab-bb">
            <tr>
                <td>
                    <a href="https://www.facebook.com/fadliaa68">
                        <img src="../../static/main/fb.png" width="30" height="30">
                    </a>
                </td>
                <td>
                    <a href="https://www.instagram.com/fadlia68/">
                        <img src="../../static/main/ig.png" width="30" height="30">
                    </a>
                </td>
                <td>
                    <a href="https://id.linkedin.com/in/fadli-aulawi">
                        <img src="../../static/main/linked.png" width="30" height="30">
                    </a>
                </td>
            </tr>
        </table>
        <p>
            <a href="{% url 'main:home' %}" style="text-decoration: none; color: white;">  
                the new one
            </a>
        </p>
        <div class="dummy">
            Icons made by flaticon.com</a>
        </div>
    </div>

</body>
</html>
