{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Book Catalog</title>
<link rel="stylesheet" href="{% static 'catalog.css' %}">
{% endblock meta %}

{% block content %}
  <div id="titleCatalog">
    <p>
      Book Catalog
    </p>
    <img src="{% static 'catalog.png' %}">
  </div>

  <div id="search">
      <input id="box" placeholder="search book">
    <hr width="95%">

  </div>

  <div id="divBook">
    <p id="init">
      Lets Start Searching^^^
    </p>
    <table id="listBook">

    </table>
  </div>

  <script src="{% static 'catalog.js' %}" type="text/javascript"></script>
{% endblock content %}
