img {
    height: 70px;
}

#titleCatalog {
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

#titleCatalog > p {
    font-size: 40px;
}

#divBook {
    min-height: 300px;
    text-align: center;
    align-items: center;
}

#divBook > p {
    font-size: 20px;
}

#listBook, table, tr, td {
    border: 1px solid black
}

table {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#search {
    text-align: center;
}