{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Activities</title>
<link rel="stylesheet" href="{% static 'activity.css' %}">
{% endblock meta %}

{% block content %}

<div id="titleAct">
    <p>
      My Activities
    </p>
    <img src="{% static 'activity.png' %}">
</div>

<div id="formAct">
    <form action="{% url 'activity:save_act' %}" method="POST">
        {% csrf_token %}
        {{ form_act }}
        <input type="submit" value="ADD">
    </form>
    <hr width="95%">
</div>

<div id="listAct">
    {% if activities %}
        <ol>
            {% for activity in activities %}
                <li class="act-name">
                    {{ activity.name }}
                </li>
                <ul>
                    {% for person in activity.person_set.all %}
                        <li>
                            {{ person.name }}
                        </li>
                    {% endfor %}
                </ul>
                <form action="{% url 'activity:save_person' id=activity.id %}" method="POST">
                    {% csrf_token %}
                    {{ form_person }}
                    <input type="submit" value="add">
                </form>
            {% endfor %}
        </ol>
    {% else %}
        <p>Nothing here</p>
    {% endif %}
</div>

{% endblock content %}
