{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'main.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

{% endblock meta %}

{% block content %}
  <div id="titleDetail">
    <p>
      My Profile
    </p>
    <img src="{% static 'user.png' %}" id="user">
  </div>

  <div id="accDetail">
    <div>
      <button class="up">
        ^
      </button>
      <button class="accordion">
        
      </button>
      <button class="down">
        v
      </button>
    </div>
    <div class="isi" id="1">    

    </div>
    <div>
      <button class="up">
        ^
      </button>
      <button class="accordion">
        
      </button>
      <button class="down">
        v
      </button>
    </div>
    <div class="isi" id="2">    
      
    </div>
    <div>
      <button class="up">
        ^
      </button>
      <button class="accordion">
        
      </button>
      <button class="down">
        v
      </button>
    </div>
    <div class="isi" id="3">    
      
    </div>
    <div>
      <button class="up">
        ^
      </button>
      <button class="accordion">
        
      </button>
      <button class="down">
        v
      </button>
    </div>
    <div class="isi" id="4">    
      
    </div>

  </div>
  
  
  <div id="titleDetail">
    <p>
      My FAQ
    </p>
    <img src="{% static 'help.png' %}" id="help">
  </div>

  <div id="mainFAQ">      
    <br><br>    
    <h5>
      1. What is your hobby?
    </h5>
    <h6>
      Mostly enjoying me time, especially playing football game. 
      Sometimes like to do some exercise in programming course.
    </h6>
    <br>
    <h5>
      2. What is your most memorable moment in your life?
    </h5>
    <h6>
      So far, the whole of my high school years still be the most remarkable moment in my life.
    </h6>
    <br>
    <h5>
      3. What is your goals at the college?
    </h5>
    <h6>
      In 3-4 years, i want to make some project with my friends. 
      This project will focus on the needs of informatics students.
    </h6>
    <br>
    <h5>
      4. What will you do after graduate?
    </h5>
    <h6>
      After graduated, the first thing i do is to thank everyone who has supported me until that time comes.
    </h6>
    <br>
    <h5>
      5. What is your life motto?
    </h5>
    <h6>
      Life is Never Flat. 
      <br>It is too complicated for you, even in your best times.
      Just let it go and flow until it reaches the end of the story.
    </h6>
  </div>
  <div id="jeda">
  </div>
    <h5 id="question">
      Want to know more? Send your questions to fadliaulawia@gmail.com
    </h5>
  <hr>

  <script src="{% static 'main.js' %}" type="text/javascript"></script>

{% endblock content %}
