{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Web Padli</title>
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}

  <div class="row">
    <div class="jumbotron text-left col-md-4" id="jumbo1">
        <div class="container">
            <img src="{% static 'fadli.jpg' %}" alt="foto saya" class="responsive" id="foto-saya">
      </div>
  </div>

  <div class="jumbotron text-left col-md-8">
      <div class="col">
          <h1 id="hello">Hello!!!</h1>
          <br><br>
          <h2>Fadli Aulawi</h2>
          <h6>computer science student</h6>
          <br>
          <h5>A diligent person who likes to <br>
              discover everything in his world. <br>
              Now looking for a long term <br>
              scholarship and its kind.</h5>
          <p>
              <a class="btn btn-primary"  id="id-cv" href="{% static 'CV_Sep20.pdf' %}" role="button">My Resume</a>
          </p>
      </div>
  </div>
  </div>

  <div class="container">
  <div class="row">
  <div class="col-md-4">
    <h3>Skill</h3>
    <p class="sbe">
      Programming<br>Problem Solving<br>Time Management<br>Hard Work
    </p>
  </div>
  <div class="col-md-4">
    <h3>Biodata</h3>
    <p class="sbe">
      Fadli Aulawi Al Ghiffari<br>Bandung, West Java<br>19 years old<br>
      Computer Science<br>Universitas Indonesia<br>Love to Learn
    </p>
  </div>
  <div class="col-md-4">
    <h3>Experience</h3>
    <p class="sbe">Silver Informatics Medalist<br>Teaching Assistant<br>
      Quran Department<br>Baritone Player<br>
      <h2 id="inv">
        sjdhabucgfkybgfuy Fusce cursus commodo, tortor mauris condimentum nibh, 
      </h2>
    </p>
    <div id="button-more">
      <a class="btn btn-outline" href="{% url 'main:details' %}" role="button">
        more about me...
      </a>
    </div>
  </div> 
  </div>
  </div>
  <hr>

{% endblock content %}
