{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Log In</title>
<link rel="stylesheet" href="{% static 'main.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

{% endblock meta %}

{% block content %}
  <div id="titleLogin">
    <p>
      Log In
    </p>
    <hr>
  </div>

<div id="formLogin">
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="username" style="padding-right: 5px;">Username</label> 
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Password</label> 
            <input type="password" name="password" required>
        </div>
        
        <div style="color: red;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        <div style="margin: 20px;">
            <button type="submit" class="btn btn-outline-dark">Log In</button>
        </div>

        <div>
            <p>
                doesn't have an account? register <a href="{% url 'main:register' %}">here</a>
            </p>
        </div>

    </form>
  
</div>
{% endblock content %}
