{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'main.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

{% endblock meta %}

{% block content %}
  <div id="titleLogin">
    <p>
      Register
    </p>
    <hr>
  </div>

<div id="formReg">
    <form method="POST">
    {% csrf_token %}
    <table id="tableReg">
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input type="text" name="username" required>
            </td>
        </tr>
        <br>
        <tr>
            <td><label for="password1">Password</label></td>
            <td>
                <input type="password" name="password1" required> 
            </td>
        </tr>
        <br>
        <tr>
            <td><label for="password2">Password Again</label></td>
            <td>
                <input type="password" name="password2" required> 
            </td>
        </tr>
    </table>
        
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div style="color: red;">
        {{ message }}
    </div> 
    {% else %}
    <div style="color: green;">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    <div style="margin: 10px;">
        <button type="submit" class="btn btn-outline-dark">Register</button>
    </div>

    <div>
        <p>
            already have an account? login <a href="{% url 'main:login' %}">here</a>
        </p>
    </div>

    </form>
  
</div>
{% endblock content %}
