p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555555;
    margin: 0;
}

.fa {
    font-size: 40px;
    font-weight: bold;
}

.cs {
    font-size: 17px;
}

table {
    border-collapse: collapse;
}

tr, td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

tr {
    text-align: right;
}

td {
    text-align: left;
}

td.b {
    border-left: 2px solid #000000;
}

td.e {
    border-left: 2px solid #777777;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    padding: 5px;
}

.edu {
    padding: 5px;
    background-color: #eeeeee;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-box {
    padding-top: 5px;
    background-color: #777777;
}

.tab-bb {
    width: 150px;
}

.dummy {
    font-size: 1px;
}

body {
    background-color: #dddddd;
}
