/* Add Page */

#judulAdd {
    text-align: center; 
    padding-top: 20px;
}

#judulAdd > p {
    font-size: 40px;
}

img {
    height: 70px;
}

#formAdd {
    height: 400px; 
    text-align: center;
}

/* Courses Page */

#titleCourse, #titleDetail {
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

#titleCourse > p, #courseName {
    font-size: 40px;
}

#addButton, #nothingHere {
    text-align: center;
}

#listCourse {
    height: 300px; 
    font-size: 20px;
}

#titleTable {
    font-weight: bold; 
    padding: 20px;
}

/* Detail Page */

#backButton {
    text-align: left; 
    padding-left: 20px;
}

#listDetail {
    height: 300px; 
    font-size: 22px; 
    text-align: center;
}