{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Courses</title>
<link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock meta %}

{% block content %}
  <div id="judulAdd">
    <p>
      Add Course
    </p>
    <img src="{% static 'course.png' %}" id="imgAdd">
  </div>
  <hr width="95%">
  
  <div id="formAdd">
    <form action="savename" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="ADD">
    </form>
  </div>

{% endblock content %}
