{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Courses</title>
<link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock meta %}

{% block content %}
  <div id="titleCourse">
    <p>
      My Courses
    </p>
    <img src="{% static 'course.png' %}">
  </div>

  <div id="addButton">
    <a href="{% url 'courses:add' %}">
      <button type="button" class="btn btn-outline-dark">Add Course</button>
    </a>
    <hr width="95%">
  </div>

  <div id="listCourse">
    {% if courses %}
    <table border="1" align="center">
        <tr>
          <td id="titleTable">Course</td>
          <td id="titleTable">Teacher</td>
        </tr>
      {% for course in courses %}
        <tr>
          <td> {{ course.name }} </td>
          <td> {{ course.teacher }} </td>
          <td> 
            <a href="{% url 'courses:detail' id=course.id %}">
              details
            </a>
          </td>
          <td>
            <a href="{% url 'courses:delete' id=course.id %}">
              delete
            </a>
          </td>
        </tr>
      {% endfor%}
    </table>
    {% else %}
    <p id="nothingHere">
      Nothing here
    </p>
    {% endif %}

  </div>

{% endblock content %}
