{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Courses</title>
<link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock meta %}

{% block content %}
  <div id="titleDetail">
    <div id="backButton">
      <a class="btn btn-outline" href="{% url 'courses:index' %}" role="button">
        back
      </a>
    </div>
    <p id="courseName">
      {{ course.name }}
    </p>
    <hr width="95%">
  </div>

  <div id="listDetail">
    <p>
        {{ course.teacher }}
    </p>
    <p>
        {{ course.credits }} sks
    </p>
    <p>
        {{ course.year }}
    </p>
    <p>
        {{ course.room }}
    </p>
    <p>
        {{ course.desc }}
    </p>
  </div>

{% endblock content %}
